<!DOCTYPE html>
<html>
<head th:replace="@{fragments/cabecera.html} :: cabeceraLink">

</head>
<body>
	<div th:replace="@{fragments/cabecera.html} :: cabecera"></div>

	<h3 class="text-center">Lista de Productos</h3>
	<hr/>
<!-- LISTAR LOS PRODUCTOS -->
	<table class="table table-info table-hover">
		<tr>
			<td>Categoria</td>
			<td>Nombre</td>
			<td>Descripcion</td>
			<td>Precio</td>
			<td>Impuesto</td>
			<td>Stock</td>
			<td>Fecha Alta</td>
			<td>Fecha Baja</td>
			<td>Accion</td>
		</tr>
		<tr  th:each="prod : ${lista}" class="table-warning">
			<td th:text="${prod.categorias.nombre}"></td>
			<td th:text="${prod.nombre}"></td>
			<td th:text="${prod.descripcion}"></td>
			<td th:text="${prod.precio}"></td>
			<td th:text="${prod.impuesto}"></td>
			<td th:text="${prod.stock}"></td>
			<td th:text="${prod.fecha_alta}"></td>
			<td th:text="${prod.fecha_baja}"></td>						
			<td><a th:href="@{/producto/form/{id}(id=${prod.id})}"/>Ver</td>
			
		</tr>

	</table>
	
	  <form action="/producto/form">
       <div class="row w-100 align-items-center">
           <div class="col text-center">             
               <button class="btn btn-danger regular-button" type="submit" name="verCarrito">ALTA DE PRODUCTO</button>  
           </div>  
       </div>
    </form>	


	<div th:replace="@{fragments/pie.html} :: footer"></div>
</body>
</html>